.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
html {
  padding: "5px";
  background-image: url(https://img.freepik.com/free-photo/background-clear-wooden-floor_1249-14.jpg?t=st=1682079313~exp=1682079913~hmac=e88302c016624e98a22ac61f6e6168f5e8d4f3723220d2eb422cc1520d6fb1fb);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
